html {

    min-width: 500px;
}
body {

    background-color: #fbfcfe; !important
    font-family: helvetica;
}

/***************
HOME PAGE
***************/
#content {

    padding-top: 5%;
}

#content, #footer {
    text-align: center;
}

#content-buttons {
    padding: 5%;
    display: inline-block;
}

.btn-space {
    margin: 5px;
}

.title {

    font-size: 500%;
}
.subtitle {

    font-size: 200%;
    font-style: italic;
}

#left-title {

    color: #CA5B54;
}

#right-title {

    color: #4579B2;
}

/**********************
LEARN MORE PAGE
**********************/

.navbar {
    position:fixed;
    background-color: #fbfcfe;
    -webkit-box-shadow: 0 8px 6px -6px #999;
    -moz-box-shadow: 0 8px 6px -6px #999;
    box-shadow: 0 8px 6px -6px #999;


    width: 100%;
}

.navbar-brand {
    font-size: 200%;
}

.nav-container {

    width: 95%;
}

#content-learnmore {

    padding-top: 2%;
    text-align: center;
}

.band {
    width: 60%;
    max-width: 1240px;
    margin: 0 auto;
    padding: 5% 0;

    display: grid;

    grid-template-columns: 1fr;
    grid-template-rows: auto;
    grid-gap: 20px;
}

@media only screen and (min-width: 500px) {
    .band {
        grid-template-columns: 1fr 1fr;
    }
}

@media only screen and (min-width: 850px) {
    .band {
        grid-template-columns: 1fr 1fr;
    }
}

.navbar-brand b{
  color: black;
}

.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    max-width: 300px;
    margin: auto;
    text-align: center;
}

.card-title {
    font-size: 150%;
    margin: 2% 0;
}

.card-subtitle {
    color: grey;
    font-size: 1.5em;
}

.card-btn {
    border: none;
    outline: 0;
    display: inline-block;
    padding: 8px;
    color: white;
    background-color: #000;
    text-align: center;
    cursor: pointer;
    width: 100%;
}

.card-icon {
    text-decoration: none;
    font-size: 22px;
    color: black;
}

.tight-p {

    margin: 0;
}

.party-text {

    font-size: 1.25em;
}
.card-btn:hover, a:hover {
    opacity: 0.7;
}

/**********************
CANDIDATE PAGES
**********************/

.content-candidate {

    padding-top: 4%;
    text-align: center;
    width: 60%;
    margin: auto;
}

.content-subcandidate {

    padding-top: 1%;
    padding-bottom: 1%;
    width: 60%;
    margin: auto;
}

.candidate-info {

    text-align:center;
    margin: auto;
    padding-bottom: 2%;
}

.candidate-img {

    width: 40%;
    margin-right: 10px;
}

.candidate-img img{
    max-height: 100%;
    max-width: 100%;
    border-radius: 25px;
}

.candidate-twitter {

    width: 45%;
    margin-left: 6%;
}

@media only screen and (max-width: 490px) {

    .nav-container {
        margin-left: 6%;
    }
}
@media only screen and (max-width: 795px) {
    .title {

        padding-top: 10%;
        font-size: 250%;
    }
}

@media only screen and (max-width: 1300px) {
    .candidate-info {

        text-align:center;
        margin: auto;
        padding-bottom: 2%;
    }

    .candidate-img {

        width: 50%;
        display: block;
        margin-left: auto;
        margin-right: auto;
        padding-bottom: 1%;
    }

    .candidate-twitter {

        width: 90%;
    }
}

@media only screen and (min-width: 1300px) {

    .candidate-info {

        padding: 2%;
    }

    .candidate-img {

        float: left;
    }
    .candidate-img img{

        float:left;
    }

    .candidate-twitter {

        float: right;

    }
}

.candidate-twitter a {

    max-width: 100%;
    max-height: 100%;
    clear:right;
}

#stance {

    width: 60%;
    margin: auto;
}

iframe {
    width: 100%;
    height: 480px;
}

@media only screen and (max-width: 1000px) {
    iframe {
        height: 360px;
    }
}

/**********************
MATCHME
**********************/

#content-matchme {

    padding-top: 5%;
    text-align: center-left;
    width: 80%;
    margin: auto;
}

.question {

    font-family: Circular,"Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 25px;
}

#matchme-loader {
    padding-top: 15%;
    text-align: center;
    width: 60%;
    margin: auto;
}
.loader {
    border: 16px solid #f3f3f3;
    border-radius: 50%;
    border-top: 16px solid #3498db;
    width: 120px;
    top: 50%;
    left: 50%;
    height: 120px;
    margin: auto;
    align-content: center;


    -webkit-animation: spin 2s linear infinite; /* Safari */
    animation: spin 2s linear infinite;
}

/* Safari */
@-webkit-keyframes spin {
    0% { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

/**********************
MATCHRESULTS
**********************/

#results-page-wrapper {
  /* padding-top: 67px; */
  padding: 10% 20% 0 20%;

}
#results-header {
  text-align: center-left;

}
#results-wrapper {
  width: 60%
  max-width: 1100px;
  margin: 0 auto;
  padding: 5% 0;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto;
  grid-gap: 20px;
}

.result-card {
  max-width: 1100px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  position: relative;
}

#duckworth-result{
  background: -webkit-linear-gradient(top, white 31%, #afb8ff);
  background: -moz-linear-gradient(top, white 31%, #afb8ff);
  background: -ms-linear-gradient(top, white 31%, #afb8ff);
  background: linear-gradient(top, white 31%, #afb8ff);
}

#kirk-result{
  background: -webkit-linear-gradient(top, white 58%, #ffafaf);
  background: -moz-linear-gradient(top, white 58%, #ffafaf);
  background: -ms-linear-gradient(top, white 58%, #ffafaf);
  background: linear-gradient(top, white 58%, #ffafaf);
}

#schawosky-result{
  background: -webkit-linear-gradient(top, white 26%, #afb8ff);
  background: -moz-linear-gradient(top, white 26%, #afb8ff);
  background: -ms-linear-gradient(top, white 26%, #afb8ff);
  background: linear-gradient(top, white 26%, #afb8ff);
}

#lasonde-result{
  background: -webkit-linear-gradient(top, white 82%, #ffafaf);
  background: -moz-linear-gradient(top, white 82%, #ffafaf);
  background: -ms-linear-gradient(top, white 82%, #ffafaf);
  background: linear-gradient(top, white 82%, #ffafaf);
}
.result-info {
  display: inline-block;
  position: relative;
  padding-left: 2%;
  top: 15%;
}

.result-title {
  font-size: 150%;
  color: black;
}
.result-sub {
  color: grey;
  font-size: 1.5em;
}
.result-party {
  font-size: 1.25em;
  color: black;
}
.result-percent {
  position: relative;
  font-size: 4.5em;
  display: inline;
  float: right;
  padding-right: 2%;
  padding-top: 5%;
  color: black;
}

.result-btn-cnt {
 display: inline-block;
}

.card .tight-p .card-btn{
  background-color: black;

}
