body {
    
    background-color: #fbfcfe; !important
    font-family: helvetica;
}

#content {

    padding-top: 5%;
}

#content, #footer {
    text-align: center;
}

#content-buttons {
    padding: 5%;
    display: inline-block;
}

.btn-space {
    margin: 5px;
}

.title {
    
    font-size: 500%;
}

#left-title {
    
    color: blue;
}

#right-title {
    
    color: red;
}
